@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Home navigation --- */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.nav-bg {
    background-color: rgba(0,0,0,0.8); /* bg color not working when placed under navbar, seperate class created to set rgba*/
}

.navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
    letter-spacing: 2px;
    text-decoration: none;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #f48c06;
    background: none;
}

.navbar-nav {
    padding-right: 30px;
}

.nav-item {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #f48c06;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #f48c06;
    background: transparent;
}


/* --- Image carousel & jumbotron--- */

.carousel-container {
    padding: 0;
    height: 100vh;
    position: relative;    
}

.carousel-image {
    height: 100vh; 
    background: no-repeat center center fixed;  
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: none;
}


.jumbotron {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    z-index: 1;
    clear: both;
    width: 100%;
    height: inherit;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #f1f1f1;
    font-weight: 400;
}

.jumbotron-content-container {
    
    position: absolute;
    top: 60%;
    right: 0px;
    left: 0px;
}

.jumbotron-content-container h1 {
    letter-spacing: 3px;
}

.jumbotron-btn {
    background-color: #f48c06;
    border-color:  #f48c06;
}

.jumbotron-btn:hover {
    background-color: #ca7912;
    border-color:  #ca7912;
}

/* --- Intro section --- */

.intro-content {
    font-size: 28px;
    font-weight: 500;
}

.intro-content p {
    margin-bottom: 0px;
}

/* --- Membership options --- */

.membership-options-container {
    flex: 1 1 auto;
    background: url("../images/orange-bg.jpg") no-repeat center center fixed;  
    width: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-bottom: 15px;
}

.membership-content h4 {
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.membership-content ul {
    list-style-type:none;
    padding-left: 0;
}

.membership-callout p {
    color: #191919;
    font-size: 20px;
    margin-top: 15px; 
}

.membership-callout {
    margin-bottom: 0px;
}


.membership-callout span {
    vertical-align: bottom;
}


.membership-callout span:hover {
    color: #191919;
    background-color: transparent;
}

/* --- Image gallery --- */

.gallery-container {
    background-color: #fafafa;
}

.image-container {
    margin: 0px;
    padding: 0px 0px 15px 0px;
}

/* --- About us --- */

.about-us-container {
    padding-top: 65px;
    padding-bottom: 15px;
    background-color: #fafafa;
    color: #191919;
    background: url("../images/orange-bg.jpg") no-repeat center center fixed;  
    width: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.about-us-container h1 {
    margin-bottom: 0px;
}

/* --- Meet the team --- */

.team-container {
    background-color: #fafafa;
    color: #191919;
    padding-bottom: 15px;
    
}

.team-container h1 {
    margin-bottom: 0;
}

.team-container h3 {
    padding-top: 15px;
    padding-bottom: 5px;
}

.team-container p {
    padding: 0 15px 15px 15px;

}

.team-member-container {
    padding-left: 0px;
    padding-right: 0px;
}

/* --- Timetable --- */

.options-container {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 90px;
    padding-bottom: 15px;
    background: url("../images/orange-bg.jpg") no-repeat center center fixed;  
    width: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.optons-inner-container {
    padding: 15px 15px 15px 15px;
}

.options-content {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    height: 200px;
    margin-bottom: 15px; 
    padding-top: 30px;
    width: 70%;
}

.tt-container {
    padding-top: 0px;
    background-color: #f1f1f1;
    padding-left: 15px;
    padding-right: 15px;
}

.tt-container th {
    font-size: 20px;
}

/* --- Contact form --- */

.form-container {
    width: 100%;
    background: url("../images/orange-bg.jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 15px;
}

form {
    width: 50%;
    margin: auto;
    padding: 15px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 20px;
}

.form-input {
    background-color: #fafafa;
}

.form-btn {
    background-color: #f48c06;
    border-color: #f48c06;
}

.form-btn:hover {
    background-color: #ca7912;
    border-color:  #ca7912;
}


/* --- Location Details --- */

.location-container {
    background-color: #ffffff;
    padding-bottom: 15px;
}

.location-details {
    margin-bottom: 15px;
}

.location-details p {
    margin-bottom: 5px;
}

.location-details iframe {
    width: 95%;
    height: 95%;
}

/* --- Footer --- */

footer {
    
    color: #fff;
    background-color:#191919;
    margin: 0;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10px;
}

.footer-content {
    font-size: 15px;
    text-align: center;
}

.footer-heading {
    text-transform: uppercase;
    color: #f48c06;
    margin-bottom: 10px;
}

.footer-item {
    margin: 10px 0 10px 0;
    text-align: center;
}

.footer-social-icon {
    color: #f5f5f5;
    font-size: 30px;
    padding: 0 3px 0 2.5px;
}

.footer-social-icon:hover {
    color: #f48c06;
    background: transparent;
}

footer a {
    margin-left: 5px;
}

/* --- Miscellanoeus --- */

.header {
    letter-spacing: 2px;
    color: #f48c06;
}

.header-other {
    letter-spacing: 2px;
    color: #ffffff;
}

.header-minor {
    font-weight: 600;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #ca7912;
    border-color:  #ca7912;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

/* --- Media Queries --- */

@media screen and (max-width: 575.98px) {

        .navbar-brand {
            font-size: 25px;
        }

       .jumbotron-btn {
        font-size: 15px; 
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .jumbotron-content-container h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .jumbotron-content-container {
        top: 60%;
    
    }

    .intro-content {
    font-size: 16px;
    }

    .membership-container {
    padding: 7px 15px 7px 15px;
    }

    .tt-container {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .options-content {
        padding-top: 30px;
        height: 250px;
        width: 90%;
    }

    .options-container {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .tt-container {
        padding-top: 0px;
    }

    form {
        width: 95%;
    }

    .location-details iframe {
        width: 90%;
        height: 300px;
    }

    .location-details {
        padding: 0px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

    .location-details iframe {
        height: 500px;
    }
}

@media screen and (max-width: 767.98px) {
    .carousel-container {
        padding: 0;
        height: 50vh;
    }

    .carousel-image {
        height: 50vh;    
    }

    .jumbotron {
        height: 50vh;
    }
}


@media screen and (min-width: 768px) {

    .location-details iframe {
        height: 95%;
        width: 95%;
    }
}

@media screen and (min-width: 992px) {

    .image-container-row {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 1199.98px) {
     .carousel-container {
        padding: 0;
        height: 50vh;
    }

    .carousel-image {
        height: 50vh;    
    }

    .options-content {
        width: 95%;
    }
}
