@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@400;500&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

/* --- Home navigation --- */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.nav-bg {
    background-color: rgba(0,0,0,0.3); /* bg color not working when placed under navbar, seperate class created to set rgba*/
}

.navbar-brand {
    color: #fff;
    font-family: "Abel", sans-serif;
    font-weight: 650;
    font-size: 30px;
    margin-left: 10px;
    letter-spacing: 2px;
    text-decoration: none;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #f48c06;
    background: none;
}

.navbar-nav {
    padding-right: 30px;
}

.nav-item {
    font-family: "Abel", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #f48c06;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f48c06;
    background: transparent;
}

/* --- Image carousel & jumbotron--- */

.carousel-container {
    padding: 0;
    height: 75vh;
    position: relative;    
}

.carousel-image {
    height: 75vh; 
    background: no-repeat center center fixed;  
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.jumbotron {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    z-index: 1;
    clear: both;
    width: 100%;
    height: inherit;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #f1f1f1;
    font-weight: 400;
}

.jumbotron-content-container {
    
    position: absolute;
    top: 80%;
    right: 0px;
    left: 0px;
}

.jumbotron-content-container h1 {
    letter-spacing: 3px;
}

.jumbotron-btn {
    background-color: #f48c06;
    border-color:  #f48c06;
}

.jumbotron-btn:hover {
    background-color: #ca7912;
    border-color:  #ca7912;
}

/* --- Membership options --- */

.membership-options-container {
    flex: 1 1 auto;
    padding-top: 15px;
    background-color: #191919;
}


.membership-container {
    padding: 15px;
}

.membership-content {
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
}

.membership-content ul {
    list-style-type:none;
    padding-left: 0;
}
/* --- Miscellanoeus --- */

.header {
    font-family: "Abel", sans-serif;
    letter-spacing: 2px;
    color: #f48c06;
}

.header-minor {
    font-weight: 500px;
}

/* --- Footer --- */

footer {
    
    color: #fff;
    background-color:#191919;
    margin: 0;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.footer-content {
    font-size: 15px;
    text-align: center;
}

.footer-heading {
    text-transform: uppercase;
    color: #f48c06;
    margin-bottom: 10px;
}

.footer-item {
    margin: 10px 0 10px 0;
    text-align: center;
}

.footer-social-icon{
    color: #f5f5f5;
    font-size: 20px;
}

footer a {
    margin-left: 5px;
}

/* --- Media Queries --- */

@media screen and (max-width: 575.98px) {
    .carousel-container {
        padding: 0;
        height: 50vh;
    }

    .carousel-image {
        height: 50vh;    
    }

    .jumbotron-btn {
        font-size: 15px; 
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .jumbotron-content-container h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .jumbotron-content-container {
        top: 60%;
    
    }

    .membership-container {
    padding: 7px 15px 7px 15px;
}
}